.contacts__promo {
  width: 100%;
  height: 350px;
  padding: 60px;
  margin: 0 0 80px;
  background: linear-gradient(
      156.15deg,
      rgba(0, 0, 0, 0.6) 14.23%,
      rgba(0, 0, 0, 0) 106.44%
    ),
    no-repeat center/cover url('../img/contacts-bg.jpg');
}

.contacts__promo-title {
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  color: #fff;
  margin: 0;
  max-width: 550px;
}

.contacts__data {
  display: flex;
  justify-content: space-between;
}

.contacts__data-name {
  width: calc((100% - 20px) / 2);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $main-text;
  margin: 0;
}

.contacts__data-details {
  width: calc((100% - 20px) / 2);
}

.contacts__data-detail {
  &:not(:last-child) {
    margin: 0 0 16px;
  }
}

.contacts__data-detail-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $main-text;
  margin: 0 0 4px;
}

.contacts__data-detail-value {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $main-text;
  margin: 0;
  transition: color 0.2s;

  &.phone,
  &.email {
    &:hover {
      color: $primary;
    }
  }

  &.site {
    color: $primary;

    &:hover {
      color: $primary-hover;
    }
  }
}

@include tablet {
  .contacts__promo {
    padding: 40px 32px;
  }

  .contacts__data {
    flex-direction: column;
  }

  .contacts__data-name {
    width: 100%;
    margin: 0 0 40px;
  }

  .contacts__data-details {
    width: 100%;
  }
}

@include mobile {
  .contacts__promo {
    height: 400px;
    padding: 24px 16px;
    margin: 0 0 40px;
  }

  .contacts__promo-title {
    font-size: 24px;
    line-height: 29px;
  }

  .contacts__data-name {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
  }

  .contacts__data-detail-title {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 6px;
  }

  .contacts__data-detail-value {
    font-size: 14px;
    line-height: 21px;
  }
}
