<div class="objects-filter">
  <div class="objects-filter__form panel__grid">
    @@include('./components/forms/select.html', {
      label: 'Город',
      placeholder: 'Выберите город',
      code: 'city',
      error: 'Поле обязательно к заполнению',
      selected: '',
      arr: [
        'Все города',
        'Москва',
        'Санкт-Петербург',
        'Великий Новгород',
        'Владивосток',
        'Воронеж',
        'Екатеринбург',
        'Краснодар',
        'Красноярск',
        'Пермь',
        'Тюмень',
        'Ханты-Мансийск',
        'Чита',
      ]
    })

    @@include('./components/forms/select.html', {
      label: 'Тип объекта',
      placeholder: 'Выберите тип объекта',
      code: 'type',
      error: 'Поле обязательно к заполнению',
      selected: '',
      arr: [
        'Все типы объектов',
        'Банки',
        'Больницы',
        'Бизнес-центры и офисные здания',
        'Гостиницы',
        'Государственные учреждения',
        'Жилые комплексы',
        'Производственные здания',
        'Учебные заведения',
      ]
    })

    @@include('./components/forms/select.html', {
      label: 'Типы оборудования',
      placeholder: 'Выберите тип оборудования',
      code: 'type',
      error: 'Поле обязательно к заполнению',
      selected: '',
      arr: [
        'Все типы оборудования',
        'Kentatsu DX Pro',
        'Kentatsu Отопительные котлы',
        'Kentatsu Сплит-системы',
        'Kentatsu Фанкойлы',
        'Kentatsu Полупромышленные кондиционеры',
        'Kentatsu Чиллеры',
        'Kentatsu Компрессорно-Конденсаторные блоки',
        'Kentatsu Руфтопы',
      ]
    })
  </div>
</div>