<section style="display: none;" class="modal modal-new" id="modal-form-success" data-modal="modal-form-success">
  <div class="modal__overlay">
    <div class="modal__body">
      <header class="modal__header">
        <div class="modal__icon mail">
          <img src="./img/mail.svg" alt="E-mail">
        </div>
        <h2 class="modal__title">Сообщение отправлено!</h2>
        <button class="modal__close-btn" aria-label="Закрыть">
          <svg>
            <use xlink:href="./img/sprite.svg#close"></use>
          </svg>
        </button>
      </header>
      <p class="modal__desc">Мы свяжемся с вами в ближайшее время</p>
    </div>
  </div>
</section>