<section class="modal" id="modal-partnership" data-modal="modal-partnership">
  <div class="modal__overlay">
    <div class="modal__body">
      <header class="modal__header">
        <h2 class="modal__title">Стать партнером</h2>
        <button class="modal__close-btn" aria-label="Закрыть">
          <svg>
            <use xlink:href="./img/sprite.svg#close"></use>
          </svg>
        </button>
      </header>
      <p class="modal__desc">
        Оставьте заявку и&nbsp;мы свяжемся с&nbsp;вами в&nbsp;ближайшее
        время.
      </p>
      <form onsubmit="return sendPartnerForm(this);" class="form-block">
        <div class="input-block">
          <label>
            <span class="input-block__name">Как к вам обращаться? <span>*</span></span>
            <input type="text" name="name" />
          </label>
          <p class="input-block__error">Поле обязательно к заполнению</p>
        </div>

        <div class="input-block">
          <label>
            <span class="input-block__name">Название компании</span>
            <input type="text" name="company" />
          </label>
          <p class="input-block__error">Поле обязательно к заполнению</p>
        </div>

        <div class="input-block">
          <span class="input-block__name">Страна</span>
          <select class="select visually-hidden" aria-placeholder="Выберите страну" name="country">
            <option></option>
            <option value="Беларусь">Беларусь</option>
            <option value="Германия">Германия</option>
            <option value="Казахстан">Казахстан</option>
            <option value="Кыргызстан">Кыргызстан</option>
            <option value="Латвия">Латвия</option>
            <option selected value="Россия">Россия</option>
            <option value="Таджикистан">Таджикистан</option>
            <option value="Туркменистан">Туркменистан</option>
            <option value="Узбекистан">Узбекистан</option>
            <option value="Япония">Япония</option>
          </select>
          <p class="input-block__error">Поле обязательно к заполнению</p>
        </div>

        <div class="input-block">
          <label>
            <span class="input-block__name">Email <span>*</span></span>
            <input type="email" name="email" />
          </label>
          <p class="input-block__error">Введите корректный Email</p>
        </div>

        <div class="input-block">
          <label>
            <span class="input-block__name">Сообщение <span>*</span></span>
            <textarea name="message"></textarea>
          </label>
          <p class="input-block__error">Поле обязательно к заполнению</p>
        </div>

        <div class="checkbox-block">
          <label>
            <input type="checkbox" class="visually-hidden" name="agreement" />
            <div class="checkbox-block__checkbox"></div>
            <span class="checkbox-block__text">
              Я соглашаюсь с
              <a data-trigger="privacy-policy" onclick="return false;">условиями обработки персональных данных</a>
            </span>
          </label>
        </div>

        <div class="modal__btn-block">
          <button class="modal__submit btn" type="submit" onclick="return sendPartnerForm(this.form);">
            Отправить заявку
          </button>
        </div>
      </form>
    </div>
  </div>
</section>