<div class="breadcrumbs">
  <div class="breadcrumbs__container container">
    <div class="breadcrumbs__links">
      <a href="/ru/" class="breadcrumbs__link">Главная</a>
      <a class="breadcrumbs__link">Где купить</a>
    </div>
  </div>
</div>
<div class="main-title">
  <div class="main-title__container container">
    <h1 class="main-title__title">Где купить</h1>
    <div class="main-title__region">
    </div>
  </div>
</div>

<div class="buy__tabs">
  <div class="buy__tabs-container container">
    <div class="tabs swiper">
      <div class="tabs-wrapper swiper-wrapper">

        <div class="tab swiper-slide " role="button" data-tab="by">
          Беларусь </div>
        <div class="tab swiper-slide " role="button" data-tab="de">
          Германия </div>
        <div class="tab swiper-slide " role="button" data-tab="kz">
          Казахстан </div>
        <div class="tab swiper-slide " role="button" data-tab="kg">
          Кыргызстан </div>
        <div class="tab swiper-slide " role="button" data-tab="lv">
          Латвия </div>
        <div class="tab swiper-slide active" role="button" data-tab="ru">
          Россия </div>
        <div class="tab swiper-slide " role="button" data-tab="tj">
          Таджикистан </div>
        <div class="tab swiper-slide " role="button" data-tab="tm">
          Туркменистан </div>
        <div class="tab swiper-slide " role="button" data-tab="uz">
          Узбекистан </div>
        <div class="tab swiper-slide " role="button" data-tab="jp">
          Япония </div>

      </div>
    </div>
  </div>
</div>

<div class="buy__filter-tabs">
  <div class="buy__filter-tabs-container container">
    <div class="filter-tabs swiper">
      <div class="filter-tabs-wrapper swiper-wrapper">
        <div class="filter-tab swiper-slide" role="button">Кондиционирование</div>
        <div class="filter-tab swiper-slide" role="button">Отопление</div>
        <div class="filter-tab swiper-slide" role="button">Вентиляция</div>
      </div>
    </div>
  </div>
</div>

<section class="buy__parts">
  <div class="buy__parts-container container">

    <div class="buy__part" data-block="by">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">ООО Мартистрой ДМ</p>
            <a target="_blank" href="https://info@martis.by" class="buy__item-site-link">info@martis.by</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+375173434342" class="buy__item-phone">+375 (17) 343-43-42</a>
            <p class="buy__item-address">Беларусь, г. Минск, ул. Бумажкова 21</p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="de">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">DDC Klimat GmbH</p>
            <a target="_blank" href="https://" class="buy__item-site-link"></a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+49041729698670" class="buy__item-phone">+49 (0) 4172 - 96 98 - 670</a>
            <p class="buy__item-address">Gesellschaft mit beschränkter Haftung Kreuzweg 1b 21376 Salzhausen | Germany
            </p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="kz">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">Даичи-Казахстан</p>
            <a target="_blank" href="https://daichi.kz" class="buy__item-site-link">daichi.kz</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+77017654605" class="buy__item-phone">+7 (701) 765-46-05</a>
            <p class="buy__item-address">Республика Казахстан, г. Алматы, пр. Райымбека 417А</p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="kg">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">Klimattech</p>
            <a target="_blank" href="https://" class="buy__item-site-link"></a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+966312337634" class="buy__item-phone">+966 (312) 337-634</a>
            <p class="buy__item-address">Kyrgyz Republic, Bishkek city, v. Lebedinovka, str. Lermontova 6</p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="lv">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">DDC Klimat GmbH RO in Latvia</p>
            <a target="_blank" href="https://" class="buy__item-site-link"></a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+37127276127" class="buy__item-phone">+371 27276127</a>
            <p class="buy__item-address">LV-1046, Kalnciema iela 207, Riga, Latvia</p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" style="display: block" data-block="ru">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">Эксклюзивный дистрибьютор Kentatsu на территории России ООО «Даичи» </p>
            <a target="_blank" href="https://daichi.ru" class="buy__item-site-link">daichi.ru</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+74957373733" class="buy__item-phone">+7 (495) 737-37-33</a>
            <p class="buy__item-address">Россия, г. Москва, Ленинградский проспект 39, стр. 80</p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="tj">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">Представитель бренда в Таджикистане ООО «Даичи»</p>
            <a target="_blank" href="https://www.daichi.ru" class="buy__item-site-link">www.daichi.ru</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+79253000195" class="buy__item-phone">+7 (925) 300-01-95</a>
            <p class="buy__item-address"></p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="tm">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">Представитель бренда в Туркменистане ООО «Даичи»</p>
            <a target="_blank" href="https://www.daichi.ru" class="buy__item-site-link">www.daichi.ru</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+79253000195" class="buy__item-phone">+7 (925) 300-01-95</a>
            <p class="buy__item-address"></p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="uz">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">ООО «KLIMAT EKSPERT»</p>
            <a target="_blank" href="https://" class="buy__item-site-link"></a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+998901860732" class="buy__item-phone">+998 90-186-07-32</a>
            <p class="buy__item-address">Узбекистан, г. Ташкент, ул. Ифтифор, д. 1</p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">Представитель бренда в Узбекистане ООО «Даичи»</p>
            <a target="_blank" href="https://www.daichi.ru" class="buy__item-site-link">www.daichi.ru</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+79253000195" class="buy__item-phone">+7 (925) 300-01-95</a>
            <p class="buy__item-address"></p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">OOO «SmartHeating»</p>
            <a target="_blank" href="https://https://smartheating.uz/"
              class="buy__item-site-link">https://smartheating.uz/</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+998974018880+998974807980" class="buy__item-phone">+998 97 401 88 80, +998 97 480 79 80</a>
            <p class="buy__item-address">Узбекистан, г. Ташкент, ул. Ифтихор 9/1</p>
            <div class="buy__item-tags">
              <div class="buy__item-tag filter-tab-simple">Кондиционирование</div>
              <div class="buy__item-tag filter-tab-simple">Отопление</div>
              <div class="buy__item-tag filter-tab-simple">Вентиляция</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buy__part" data-block="jp">
      <ul class="buy__list">
        <li class="buy__item">
          <div class="buy__item-section">
            <p class="buy__item-name">Главный офис компании Kentatsu</p>
            <a target="_blank" href="https://kentatsu.global" class="buy__item-site-link">kentatsu.global</a>
          </div>
          <div class="buy__item-section">
            <a href="tel:+819066568985" class="buy__item-phone">+8 19066568985</a>
            <p class="buy__item-address">2-15-1 Shinagawa Intercity A, 28 Floor Konan, Minato-ku, Tokyo, 108-6028</p>
            <div class="buy__item-tags">
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>