<section class="perfection">
  <div class="perfection__container container">
    <h2 class="perfection__title section-title">
      Верх совершенства климатической техники
    </h2>

    <div class="perfection__content">
      <div class="perfection__product rac">
        <img src="img/rac.png" alt="Для жилых помещений" class="perfection__product-img rac" />
        <h3 class="perfection__product-title">Для жилых помещений</h3>
        <ul class="perfection__product-list">
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/residential-air-conditioners/">Бытовые кондиционеры</a>
          </li>
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/multi-split-systems/">Мульти-сплит-системы</a>
          </li>
        </ul>
      </div>

      <div class="perfection__product cac">
        <img src="img/cac.png" alt="Для коммерческого применения" class="perfection__product-img cac" />
        <h3 class="perfection__product-title">
          Для коммерческого применения
        </h3>
        <ul class="perfection__product-list">
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/vrf-systems/">Многозональные системы DX PRO</a>
          </li>
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/light-commercial-air-conditioning-systems/">Полупромышленные кондиционеры</a>
          </li>
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/chillers/">Чиллеры</a>
          </li>
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/fancoil-units/">Фанкойлы</a>
          </li>
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/compressor-condensing-units/">Компрессорно-Конденсаторные блоки</a>
          </li>
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/rooftop-units/">Руфтопы</a>
          </li>
          <li class="perfection__product-list-item">
            <a href="/ru/catalog/hydraulic-components/">Гидравлические компоненты для чиллеров и тепловых насосов</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>