<section class="promo">
  <div class="promo__container container">
    <div class="promo__block promo-20">
      <h1 class="promo__title">
        Климат на пике технологического прогресса
      </h1>
      <a href="/ru/about/" class="promo__more-link btn">Узнать больше</a>
    </div>
  </div>
</section>

<section class="promo">
  <div class="promo__container container">
    <div class="promo__block promo-20 gradient">
      <h1 class="promo__title">
        Климат на пике технологического прогресса
      </h1>
      <a href="/ru/about/" class="promo__more-link btn">Узнать больше</a>
    </div>
  </div>
</section>
