<section class="promo">
  <div class="promo__container container">
    <div class="promo__block">
      <h1 class="promo__title">
        Климат на пике технологического прогресса
      </h1>
      <a href="/ru/about/" class="promo__more-link btn">Узнать больше</a>
    </div>
  </div>
</section>
<section class="quality">
  <div class="quality__container container">
    <h2 class="quality__title section-title">
      Высокое качество с&nbsp;богатой историей
    </h2>
    <div class="quality__content">
      <div class="quality__desc-block">
        <div class="quality__tabs swiper">
          <div class="quality__tabs-wrapper swiper-wrapper">
            <div class="quality__tab swiper-slide active" role="button" data-tab="quality-history">
              История бренда
            </div>
            <div class="quality__tab swiper-slide" role="button" data-tab="quality-philosophy">
              Философия
            </div>
            <div class="quality__tab swiper-slide" role="button" data-tab="quality-innovation">
              Инновационные технологии
            </div>
          </div>
        </div>

        <div class="quality__tab-desc" data-block="quality-history" style="display: block">
          <p>
            Дорогу проще осилить, если первую часть пути идти по следам прошедших
            перед тобой. Компания Kentatsu создана в начале 2000-х, когда слова
            «японские технологии» в мире уже стали синонимом бескомпромиссного
            качества и строгих производственных стандартов. Мы следуем этому
            пути, используя инженерные достижения человечества. При этом с
            первых шагов на международном рынке Kentatsu выбрала для себя роль
            первопроходца, предложив миру собственный взгляд на климатическую
            технику: более рациональный, взвешенный, устремленный в перспективу.
          </p>
          <a href="/ru/about/?tab=history" class="quality__tab-link btn-arrow">
            Узнать больше
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>

        <div class="quality__tab-desc" data-block="quality-philosophy">
          <p>
            Все оборудование, которое когда-либо было и будет разработано нашей компанией,
            опирается на один незыблемый фундамент: принцип Разумной достаточности Kentatsu.
            Что это? Умение сосредоточиться на главном. Искусство предлагать решения, в
            наибольшей степени соответствующие реальным потребностям клиентов. Это
            позволяет создавать технику, которая надежна – и не старается казаться
            сложной. Экономична – и не пытается удивить излишним. Выверена – и сохраняет
            актуальность долгие годы. А главное, эффективно создает комфортную
            атмосферу в любом помещении.
          </p>
          <a href="/ru/about/?tab=philosophy" class="quality__tab-link btn-arrow">
            Узнать больше
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>

        <div class="quality__tab-desc" data-block="quality-innovation">
          <p>
            С самого начала, Kentatsu Denki разрабатывает и организует производство удобных экономичных
            устройств, обладающих действительно полезными функциями и соответствующих реальным потребностям
            частных и корпоративных клиентов.
          </p>
          <a href="/ru/about/?tab=innovation" class="quality__tab-link btn-arrow">
            Узнать больше
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="quality__img-block">
        <div class="quality__img-item" style="display: block" data-img="quality-history">
          <img src="img/2-main-history.jpg" alt="История бренда" />
        </div>

        <div class="quality__img-item" data-img="quality-philosophy">
          <img src="img/3-main-philosophy.jpg" alt="История бренда" />
        </div>

        <div class="quality__img-item" data-img="quality-innovation">
          <img src="img/4-main-technology.jpg" alt="История бренда" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="assembly">
  <div class="assembly__container container">
    <h2 class="assembly__title section-title">
      Производство с разумным подходом
    </h2>
    <div class="assembly__img-block"></div>
    <ul class="assembly__benefits">
      <li class="assembly__benefit jap">
        <h3 class="assembly__benefit-title">
          Управление качеством
        </h3>
        <p class="assembly__benefit-desc">
          Инженеры Kentatsu ведут постоянный анализ климатического рынка,
          чтобы выявить наиболее важные для потребителей функции. С опорой
          на них мы выстраиваем процесс постоянного улучшения качества. Это
          позволяет поддерживать высокий уровень производства и обеспечивать
          разумные цены.
        </p>
      </li>
      <li class="assembly__benefit technology">
        <h3 class="assembly__benefit-title">Передовые технологии</h3>
        <p class="assembly__benefit-desc">
          Современный мир комфортных кондиционеров очень быстро меняется,
          приходят новые хладагенты, компрессоры и другие компоненты.
          Благодаря тому, что инженеры Kentatsu отслеживают все тренды и технологические
          новинки, бренд не отстает, а идет в ногу со временем.
        </p>
      </li>
      <li class="assembly__benefit eco">
        <h3 class="assembly__benefit-title">Экологичное производство</h3>
        <p class="assembly__benefit-desc">
          В нашей технике и в нашем производстве заложено бережное отношение к природе.
          Компания работает над тем, чтобы свести к минимуму экологический след наших производств.
        </p>
      </li>
    </ul>
  </div>
</section>