</main>

<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__logo-block">
        <a href="#" class="footer__logo-link" aria-label="На главную">
          <img src="img/kentatsu-white.svg" alt="Kentatsu" />
        </a>
      </div>
      <nav class="footer__nav">
        <div class="footer__nav-block">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="/ru/about/" class="footer__nav-link main">О бренде</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/about/?tab=history" class="footer__nav-link">История</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/about/?tab=philosophy" class="footer__nav-link">Философия</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/about/?tab=innovation" class="footer__nav-link">Технологии</a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-block">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="/ru/catalog/" class="footer__nav-link main">Продукты</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/residential-air-conditioners/" class="footer__nav-link">Бытовые кондиционеры</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/multi-split-systems/" class="footer__nav-link">Мульти-сплит-системы</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/vrf-systems/" class="footer__nav-link">Многозональные системы DX PRO</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/light-commercial-air-conditioning-systems/" class="footer__nav-link">Полупромышленные
                кондиционеры</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/chillers/" class="footer__nav-link">Чиллеры</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/fancoil-units/" class="footer__nav-link">Фанкойлы</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/compressor-condensing-units/" class="footer__nav-link">Компрессорно-Конденсаторные
                блоки</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/rooftop-units/" class="footer__nav-link">Руфтопы</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/catalog/hydraulic-components/" class="footer__nav-link">Гидравлические компоненты для чиллеров и тепловых насосов</a>
            </li>

          </ul>
        </div>
        <div class="footer__nav-block">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="/ru/partners/" class="footer__nav-link main">Партнерам</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link main">Объекты</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/buy/" class="footer__nav-link main">Где купить</a>
            </li>
            <li class="footer__nav-item">
              <a href="/ru/contacts/" class="footer__nav-link main">Контакты</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-links-block">
        <p>© Kentatsu 2025.</p>
    </div>
  </div>
</footer>

<script src="js/main.min.js"></script>
</body>
</html>