<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="icon" href="https://kentatsu.global/favicon.ico" type="image/x-icon">
  <title>@@title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <a href="/" class="header__logo-link" aria-label="На главную">
        <img src="./img/kentatsu.svg" alt="Kentatsu" class="header__logo" />
      </a>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="/ru/about/" class="header__nav-link">О бренде</a>
          </li>
          <li class="header__nav-item">
            <a href="/ru/catalog/" class="header__nav-link">Продукты</a>
          </li>
          <li class="header__nav-item">
            <a href="/ru/partners/" class="header__nav-link">Партнёрам</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link">Объекты</a>
          </li>
          <li class="header__nav-item">
            <a href="/ru/buy/" class="header__nav-link">Где купить?</a>
          </li>
          <li class="header__nav-item">
            <a href="/ru/contacts/" class="header__nav-link">Контакты</a>
          </li>
          <li class="header__nav-item">
            <a href="/regions/" class="header__nav-link">
              <img src="./img/pin.svg" />
              Россия</a>
          </li>
          <li class="header__nav-item">
            <a href="./?lang=en" class="header__nav-link">
              <img src="./img/world.svg" />
              RU</a>
          </li>
        </ul>
      </nav>

      <button class="header__nav-button" type="button" aria-label="Показать/скрыть меню">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>
  <main>