//ШРИФТЫ
$font: 'Inter', 'Arial', 'Helvetica', 'Helvetica CY', 'Nimbus Sans';

//Разрешения
$mobile: 320px;
$tablet: 768px;
$desktop-m: 1280px;
$desktop: 1440px;

$desktop-gap: 40px;
$tablet-gap: 32px;
$mobile-gap: 16px;

//Цвета
$main-text: #151515;
$primary: #f32424;
$primary-hover: #e71212;
$primary-active: #ce0c0c;
$grey100: #f3f3f3;
$grey200: #eeeeee;
$grey300: #dee0e1;
$grey400: #adb0b4;
$darkGrey: #172330;
$fail: #ff3326;
// $white: #ffffff;
// $grey200: #f4f4f8;
// $grey250: #e6e6ef;
// $grey300: #d1d8e1;
// $grey400: #94a0b1;
// $success: #1ed77e;
// $fail: #f25248;
// $warning: #ff9900;
// $warning2: #fdd74f;
// $additional: #aad2ff;
// $additional2: #e7f2ff;
